{
    "swagger": "2.0",
    "info": {
        "description": "Public API for CPM",
        "version": "V1.0",
        "title": "CPM API",
        "contact": {
            "name": "Wolters Kluwer Software und Service GmbH",
            "url": "http://www.addison.de",
            "email": "info@addison.de"
        }
    },
    "host": "ocde-pg.wktaa.de",
    "basePath": "/sdn/rest/api",
    "tags": [
        {
            "name": "accounting",
            "description": "financial reporting"
        },
        {
            "name": "payroll_schema",
            "description": "basic payroll definitions"
        },
        {
            "name": "payroll",
            "description": "payroll functions"
        },
        {
            "name": "directory",
            "description": "directory: users and organizations"
        },
        {
            "name": "crm",
            "description": "adress functions"
        },
        {
            "name": "common",
            "description": "common data definitions"
        },
        {
            "name": "accounting_schema",
            "description": "basic accounting definitions"
        },
        {
            "name": "meldecenter",
            "description": "message center"
        },
        {
            "name": "banking",
            "description": "banking definitions"
        },
        {
            "name": "cpm",
            "description": "practice management"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/accounting/einstellungen": {
            "get": {
                "tags": [
                    "accounting"
                ],
                "summary": "get: accounting/einstellungen",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/einstellungen"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/accounting/einstellungen/{resourceId}": {
            "get": {
                "tags": [
                    "accounting"
                ],
                "summary": "get: accounting/einstellungen/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/einstellungen"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/accounting/kontostamm": {
            "get": {
                "tags": [
                    "accounting"
                ],
                "summary": "get: accounting/kontostammdaten",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/kontostamm"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/accounting/kontostamm/{resourceId}": {
            "get": {
                "tags": [
                    "accounting"
                ],
                "summary": "get: accounting/kontostammdaten/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/kontostamm"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/accounting_schema/gruppensumme": {
            "get": {
                "tags": [
                    "accounting_schema"
                ],
                "summary": "get: accounting_schema/gruppensummen",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gruppensumme"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/accounting_schema/gruppensumme/{resourceId}": {
            "get": {
                "tags": [
                    "accounting_schema"
                ],
                "summary": "get: accounting_schema/gruppensummen/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gruppensumme"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/accounting_schema/schemaentry": {
            "get": {
                "tags": [
                    "accounting_schema"
                ],
                "summary": "get: accounting_schema/schemaentries",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/schemaentry"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/accounting_schema/schemaentry/{resourceId}": {
            "get": {
                "tags": [
                    "accounting_schema"
                ],
                "summary": "get: accounting_schema/schemaentries/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/schemaentry"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/banking/bankaccount": {
            "get": {
                "tags": [
                    "banking"
                ],
                "summary": "get: banking/bankaccount",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/bankaccount"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/banking/bankaccount/{resourceId}": {
            "get": {
                "tags": [
                    "banking"
                ],
                "summary": "get: banking/bankaccount/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/bankaccount"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/banking/bankingprovision": {
            "get": {
                "tags": [
                    "banking"
                ],
                "summary": "get: banking/bankingprovision",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/bankingprovision"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/banking/bankingprovision/{resourceId}": {
            "get": {
                "tags": [
                    "banking"
                ],
                "summary": "get: banking/bankingprovision/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/bankingprovision"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/banking/payment": {
            "get": {
                "tags": [
                    "banking"
                ],
                "summary": "get: banking/payment",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/payment"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/banking/payment/{resourceId}": {
            "get": {
                "tags": [
                    "banking"
                ],
                "summary": "get: banking/payment/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/payment"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/common/tagdefinition": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "get: common/tagdefinition",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/tagdefinition"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/common/tagdefinition/{resourceId}": {
            "get": {
                "tags": [
                    "common"
                ],
                "summary": "get: common/tagdefinition/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/tagdefinition"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            },
            "put": {
                "tags": [
                    "common"
                ],
                "summary": "put: common/tagdefinition",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Input.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/tagdefinition"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            }
        },
        "/common/{resource}": {
            "post": {
                "tags": [
                    "common"
                ],
                "summary": "post: common/tagdefinition",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resource",
                        "in": "path",
                        "description": "The Api-Contract name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Input.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/tagdefinition"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            }
        },
        "/cpm/client": {
            "get": {
                "tags": [
                    "cpm"
                ],
                "summary": "get: cpm/client",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/client"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/cpm/client/{resourceId}": {
            "get": {
                "tags": [
                    "cpm"
                ],
                "summary": "get: cpm/client/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/client"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/cpm/clientactivities": {
            "get": {
                "tags": [
                    "cpm"
                ],
                "summary": "get: cpm/clientactivities",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/clientactivities"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/cpm/clientactivities/{resourceId}": {
            "get": {
                "tags": [
                    "cpm"
                ],
                "summary": "get: cpm/clientactivities/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/clientactivities"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/cpm/clientactivitychangestate/{resourceId}": {
            "put": {
                "tags": [
                    "cpm"
                ],
                "summary": "put: cpm/clientactivitychangestate",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Input.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/clientactivitychangestate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            }
        },
        "/cpm/employee": {
            "get": {
                "tags": [
                    "cpm"
                ],
                "summary": "get: cpm/employee",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/employee"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/cpm/employee/{resourceId}": {
            "get": {
                "tags": [
                    "cpm"
                ],
                "summary": "get: cpm/employee/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/employee"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/cpm/employeeactivities": {
            "get": {
                "tags": [
                    "cpm"
                ],
                "summary": "get: cpm/employeeactivities",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/employeeactivities"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/cpm/employeeactivities/{resourceId}": {
            "get": {
                "tags": [
                    "cpm"
                ],
                "summary": "get: cpm/employeeactivities/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/employeeactivities"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/cpm/firm": {
            "get": {
                "tags": [
                    "cpm"
                ],
                "summary": "get: cpm/firm",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/firm"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/cpm/firm/{resourceId}": {
            "get": {
                "tags": [
                    "cpm"
                ],
                "summary": "get: cpm/firm/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/firm"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/crm/companydata": {
            "get": {
                "tags": [
                    "crm"
                ],
                "summary": "get: crm/firmendaten",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/companydata"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/crm/companydata/{resourceId}": {
            "get": {
                "tags": [
                    "crm"
                ],
                "summary": "get: crm/firmendaten/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/companydata"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            },
            "put": {
                "tags": [
                    "crm"
                ],
                "summary": "put: crm/firmendaten",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Input.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/companydata"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            }
        },
        "/crm/contact": {
            "get": {
                "tags": [
                    "crm"
                ],
                "summary": "get: crm/contact",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/contact"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/crm/contact/{resourceId}": {
            "get": {
                "tags": [
                    "crm"
                ],
                "summary": "get: crm/contact/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/contact"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            },
            "put": {
                "tags": [
                    "crm"
                ],
                "summary": "put: crm/contact",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Input.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/contact"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            }
        },
        "/crm/location": {
            "get": {
                "tags": [
                    "crm"
                ],
                "summary": "get: crm/location",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/location"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/crm/location/{resourceId}": {
            "get": {
                "tags": [
                    "crm"
                ],
                "summary": "get: crm/location/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/location"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            },
            "put": {
                "tags": [
                    "crm"
                ],
                "summary": "put: crm/location",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Input.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/location"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            }
        },
        "/crm/{resource}": {
            "post": {
                "tags": [
                    "crm"
                ],
                "summary": "post: crm/firmendaten",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resource",
                        "in": "path",
                        "description": "The Api-Contract name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Input.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/companydata"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            }
        },
        "/directory/member": {
            "get": {
                "tags": [
                    "directory"
                ],
                "summary": "get: directory/member",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/member"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/directory/member/{resourceId}": {
            "get": {
                "tags": [
                    "directory"
                ],
                "summary": "get: directory/member/id",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/member"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            },
            "put": {
                "tags": [
                    "directory"
                ],
                "summary": "put: directory/member",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Input.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/member"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            },
            "delete": {
                "tags": [
                    "directory"
                ],
                "summary": "delete: directory/member",
                "description": "",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The desired Api-Contract ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Input.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/member"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "409": {
                        "description": "Conflict"
                    }
                }
            }
        },
        "/directory/organization": {
            "get": {
                "tags": [
                    "directory"
                ],
                "summary": "get: directory/organization",
                "description": "",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The authorization token.",
                        "required": true,
                        "type": "string",
                        "default": "Bearer 47d86eefe5a4643d8bb23014eb412cc2"
                    },
                    {
                        "name": "organization",
                        "in": "query",
                        "description": "The corresponding ID for Mandanten, Kanzlei etc.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "description": "Filter on one or more Api-Contract fields. Default: \"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Sorting by a field of Api-contract. Default:\"\"",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to be skipped. Default: 0",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "take",
                        "in": "query",
                        "description": "Max. Number of result set. Default: 15",
                        "required": false,
                        "type": "string",
                        "default": "15"
                    }
                ],
                "responses": {
[...]
